<td class="text-right">
  I<sub>{{item.endState}}</sub>
</td>
<td>
  {{#if showGoto}}
    = goto(I<sub>{{item.startState}}</sub>, {{item.inputSymbol.name}})
  {{/if}}
</td>
<td>
  = closure({ {{_closureParameters}} })
</td>
<td>
  = { {{_productionsDisplay}} };
</td>
