<td class="text-right">
  {{#unless item.alias}}
    I<sub>{{item.endState}}</sub>
  {{/unless}}
</td>
<td>
  {{#if showGoto}}
    = goto(I<sub>{{item.startState}}</sub>, {{item.inputSymbol.name}})
  {{/if}}
</td>
<td>
  = closure({ {{_closureParameters}} })
</td>
<td>
  {{#if item.alias}}
    = I<sub>{{item.alias.endState}}</sub>
  {{else}}
    = { {{_productionsDisplay}} };
  {{/if}}
</td>
