<td class="text-right">
  {{#unless item.alias}}
    I<sub>{{item.endState}}</sub>
  {{/unless}}
</td>
<td>
  {{#unless item.alias}}
    =
  {{/unless}}
</td>
<td>
  {{#if showGoto}}
    goto(I<sub>{{item.startState}}</sub>, {{item.inputSymbol.name}})
  {{/if}}
</td>
<td>
  =
</td>
<td>
  closure({ {{_closureParameters}} })
</td>
<td>
  =
</td>
<td>
  {{#if item.alias}}
    I<sub>{{item.alias.endState}}</sub>
  {{else}}
    { {{_productionsDisplay}} };
  {{/if}}
</td>
