<div class="row">
  <div class="col-xs-12 page-header">
    <h2>Entrada da gramática</h2>
    <h3>Configure a gramática utilizada na análise sintática</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Alfabeto</h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">Símbolos não-terminais:</label>
          {{create-symbols-input symbolsChanged=(action (mut grammar.nonTerminalSymbols)) placeholder="Exemplo: S A B" symbolType="nt"}}
        </div>
        <div class="form-group">
          <label class="control-label">Símbolos terminais:</label>
          {{create-symbols-input symbolsChanged=(action (mut grammar.terminalSymbols)) placeholder="Exemplo: a b c" symbolType="t"}}
        </div>
        <div class="form-group">
          <label class="control-label">Símbolo de início de produção:</label>
          {{select-symbols-input single=true symbolChanged=(action (mut grammar.startSymbol)) placeholder="Exemplo: S" availableSymbols=grammar.nonTerminalSymbols}}
        </div>

        <ul class="text-muted">
          <li>Símbolos devem ser separados por um espaço " "</li>
          <li>Símbolos terminais e não-terminais devem ser <a target="_blank" href="https://pt.wikipedia.org/wiki/Conjuntos_disjuntos">disjuntos</a></li>
          <li>Símbolo de início de produção deve pertencer aos símbolos não-terminais</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{#bs-button type="primary" class="pull-right" icon="fa fa-plus" action="addProduction"}}
          Adicionar
        {{/bs-button}}

        <h4>Regras de produção</h4>
      </div>
      <div class="panel-body">
        {{#each grammar.productions as |p|}}
          {{production-input p remove=(action "removeProduction") nonTerminalSymbols=grammar.nonTerminalSymbols terminalSymbols=grammar.terminalSymbols}}
        {{else}}
          {{#bs-alert type="info" dismissible=false class="text-center"}}
            Nenhuma regra adicionada ainda. Clique em adicionar {{fa-icon "arrow-up"}}
          {{/bs-alert}}
        {{/each}}

        <ul class="text-muted">
          <li>Uma regra de produção por linha</li>
          <li>Símbolos devem ser separados por um espaço " "</li>
          <li>Pode ser adicionada mais de uma regra para o mesmo símbolo</li>
        </ul>
      </div>
    </div>
  </div>
</div>
