<div class="row">
  <div class="col-xs-12 page-header">
    <h2>Análise SLR</h2>
    <h3>Processo de análise sintática da gramática</h3>
  </div>
</div>

{{#if model.grammar.isValid}}
  <h3>Preparação da gramática</h3>
  <p>
    Esta etapa envolve a geração da <em>gramática aumentada</em>, a adição
    dos <em>itens canônicos</em> e a <em>numeração das produções</em>. A
    gramática gerada após essas modificações é exibida abaixo.
  </p>

  {{grammar-formalism model.itemized numberProductions=true grammarSymbol="G'"}}

  <hr/>

  <h3>Conjunto canônico de itens LR(0)</h3>
  <p>
    Nesta etapa é montado o conjunto canônico de itens LR(0), utilizando-se
    as operações <em>closure</em> e <em>goto</em>. Esse conjunto é utilizado
    posteriormente para a montagem da tabela sintática. Todo o processo
    executado nesta etapa é exibido abaixo.
  </p>

  {{canonic-items-set model.canonicItems}}

  <hr/>

  <h3>Tabela sintática</h3>
  <p>
    A tabela sintática resume a saída do analisador em uma tabela, que é
    consultada durante o processo de reconhecimento de sentenças. A tabela
    é exibida abaixo.
  </p>

  {{#light-table model.parsingTable.table class="parsing-table" as |t|}}
    {{t.head}}
    {{t.body canSelect=false}}
  {{/light-table}}
{{else}}
  {{#bs-alert type="danger" dismissible=false class="text-center"}}
    <h3>Gramática não foi configurada ainda...</h3>

    {{link-to 'Configurar gramática' 'index' class="btn btn-lg btn-danger"}}
  {{/bs-alert}}
{{/if}}
