<div class="row">
  <div class="col-xs-12 page-header">
    {{#bs-dropdown class="pull-right examples-dropdown"}}
      {{#bs-dropdown-button type="success" size="lg"}}Exemplos <span class="caret"></span>{{/bs-dropdown-button}}
      {{#bs-dropdown-menu}}
        <li>
          <a href="#" {{action "loadExample" example1}}>
            {{grammar-formalism example1}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#" {{action "loadExample" example2}}>
            {{grammar-formalism example2}}
          </a>
        </li>
      {{/bs-dropdown-menu}}
    {{/bs-dropdown}}
    <h2>Entrada da gramática</h2>
    <h3>Configure a gramática utilizada na análise sintática</h3>
  </div>
</div>

{{grammar-input grammar}}

<div class="row bottom-navigation">
  <div class="col-xs-12 text-right">
    {{#link-to "analysis" class="btn btn-primary btn-lg" disabled=(not grammar.isValid)}}
      Ver resultado da análise {{fa-icon "arrow-circle-right"}}
    {{/link-to}}
    {{#link-to "recognizer" class="btn btn-primary btn-lg" disabled=(not grammar.isValid)}}
      Testar sentença {{fa-icon "arrow-circle-right"}}
    {{/link-to}}
  </div>
</div>
